*{
    margin: 0;
}
@font-face{
    font-family:font_pizza;
    src: url(SkinnyOutlines-Regular.ttf)
}

header{
    height: 500px;
    background-image: url(pizza03.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*ajustar imagem*/
    background-position: center; /*ajustar imagem background*/
}

nav ul{
    height: 70px;
    width: 100%;
    display: flex;
    color: rgb(131, 113, 113);
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
   
}
li{
    font-family:font_pizza;
    font-size: 40px;
}
h1{
    color: rgb(131, 113, 113);
    text-align: center;
}
